<br/>
<div class="jumbotron">
  <h1>Blocmarks</h1>
  <p>Blocmarks is a way to share url's!</p>
  <p>
      <%= link_to "Sign In", class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up for an Account", class: 'btn btn-primary' %> today!
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  </p>
</div>
